<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<bean id="dataSource"
    name="comunicacion"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
     p:driverClassName="org.postgresql.Driver"
        p:url="jdbc:postgresql://192.168.1.3:5432/Tickets"
         p:username="eduweb"
        p:password="Madrid2016"/>

<bean id="dataSourceAH" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
        p:url="jdbc:sqlserver://ca-pan.odbc.renweb.com\ca_pan:1433;databaseName=ca_pan"
         p:username="CA_PAN_CUST"
        p:password="RansomSigma+339"/>

<!--<bean id="dataSourceAH" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
        p:url="jdbc:sqlserver://ah-zaf.odbc.renweb.com\ah_zaf:1433;databaseName=ah_zaf"
         p:username="AH_ZAF_CUST"
        p:password="BravoJuggle+396"/>-->

</beans>
